# Eclipse
smart-home-simulator/.classpath
smart-home-simulator/.project
smart-home-simulator/.settings/
smart-home-simulator/bin/

# Intellij
.idea/
*.iml
*.iws
out/
artifacts/

# Mac
smart-home-simulator/.DS_Store

# Maven
smart-home-simulator/log/
smart-home-simulator/target/ 